{{ define "main" }}
  <div class="intro">
    <h1>{{ .Params.heading }}</h1>
    <div class="intro-body marb_d padb_d border-bottom">{{ .Content }}</div> 
  </div>

  <ul class="post-list">
    {{ range (where .Site.RegularPages "Section" "posts") }}
      <li class="post-list-item">
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <div class="post-meta">{{ .Date.Format "2 January 2006" }}</div>
        <p class="post-summary">{{ with .Params.excerpt }}{{ . }}{{ else }}{{ .Summary }}{{ end }}</p>

      </li>
    {{ end }}
  </ul>
{{ end }}
